# langchain==0.1.16
# langchain-core==0.1.46
# langchain-community==0.0.34
# langchain-groq==0.1.6
langchain
langchain-core
langchain-community
langchain-groq
langchain_huggingface
chromadb
streamlit
pandas
python-dotenv
sentence-transformers